<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  <h1>Welcome, <%= user %> </h1>
  <p><a href="/users">View All Users</a></p>
  <p><a href="/logout">Logout</a></p>
</body>
</html>
